{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate 'Learn' %}{% endblock %}
{% block content %}
    <h1 class="main-header translate-header">{% translate 'Translate' context 'Imprerative' %}</h1>
    {#   <h1 class="main-header arrange-header">{% translate 'Arrange words' %}</h1> #}
    <div class="learning-container">
        <div class="original-text-container">

        </div>
        <div class="arrow">
            ⇓
        </div>
        <div class="translated-text-container">
            {% comment %}<p>
                <label for="translated-text-input">{% translate 'Your translation' %}</label>
            </p>
            {% endcomment %}
            <input type="text" id="translated-text-input" placeholder="{% translate 'Type here...' %}">
        </div>
        <div>
            <button type="button" id="next-button">{% translate 'Next' context 'Feminine'%}</button>
        </div>
    </div>
    {% load static %}
    <script type="module" src="{% static 'scripts/learning.js' %}"></script>
{% endblock %}