<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    {% load i18n %}
    <body>
        <!-- Actual logo image will be displayed as a background image if site is displayed on desktop-->
        <div class="logo-desktop"></div>
        <nav>
            {#  TODO: Change hrefs to actual urls#}
            {# TODO: Add rolling button onclick in JS #}
            <div class="navigation-rolling-button"></div>

            <div class="navigation navigation-visible">
                <div class="search-container">
                    <input type="search" aria-label="{% translate 'Search trough site' %}" placeholder="{% translate 'Search' %}">
                    <button class="search-button"></button>
                 </div>
                <div><a href="#">{% translate 'Learn' context 'Imperative' %}</a></div>
                <div><a href="#">{% translate 'Your languages' %}</a></div>
                <div><a href="#">{% translate 'Your phrases' %}</a></div>
                <div><a href="#">{% translate 'Add language' %}</a></div>
                <div><a href="#">{% translate 'Add phrases' %}</a></div>
                <div><a href="#">{% translate 'Account settings' %}</a></div>
                {% if user.is_authenticated %}
                <div><a href="#">{% translate 'Logout' %}</a></div>
                {% else %}
                <div><a href="#">{% translate 'Sign Up' %}</a></div>
                <div><a href="#">{% translate 'Sign In' %}</a></div>
                {% endif %}
            </div>
        </nav>
        <div class="messages-container">
            {% for message in messages %}
            <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </p>
            {% endfor %}
        </div>
        <main>
            {% block content %}{% endblock %}
            {% comment %}
            {% block pagination %}
                {% if page_obj.paginator.num_pages > 1 %}
                <ul class="pagination">
                    <span>Page: </span>
                    {% for page_num in page_obj.paginator.page_range %}
                    {% if page_num == page_obj.number %}
                        <a class="current-page-link" href="{{ request.url }}?page={{ page_num }}">{{ page_num }}</a>
                    {% else %}
                        <a href="{{ request.url }}?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            {% endblock %}
            {% endcomment %}

        </main>
        <footer>
            <div class="footer">
                <span>Created by Damian Kuriata. All rights reserved</span>
            </div>
        </footer>
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>