body {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #edf1f7;
    position: relative;
    min-height: 95vh;
}
a {
    text-decoration: none;
    color: inherit;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
a:link {

}
a:visited {

}
a:focus{
    color: #d1c9c9;
}
a:hover {
    color:  #b3a7a6;
}
a:active {
    color: #d1c9c9;
}

.navigation {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1 1 0;
    padding: 0.5em 0 0.5em 0;
    font-size: .8em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(175, 190, 240, .9);
}
.navigation-visible {
    visibility: visible;
}
.navigation-hidden {
    visibility: hidden;
}
.navigation-rolling-button {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    font-size: .7em;
    background-image: url("../images/navigation.png");
    width: 2em;
    height: 2em;
    background-size: contain;
    transition-property: background-color;
    transition-duration: .5s;
}
.navigation div {
    margin-right: 0.2em;
}
.search-container {
    padding: 0;
    margin-top: -.25em;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
}
.search-container input[type="search"] {
    width: 13em;
    margin: 0;
    padding: 0;
}
.search-button {
    background-image: url("../images/search.png");
    background-size: contain;
    border: none;
    margin-left: 0.2em;
    width: 2em;
    height: 2em;
}
.search-button:hover {
    opacity: .7;
}
.messages-container {
    text-align: center;
    width: 5em;
    height: 3em;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0;
    z-index: 1;
    position: fixed;
    top: 10vh;
    left: 0;
}
.messages-container p {
    overflow: auto;
    margin-bottom: .5em;
    padding: .13em;
}
.main-header {
    font-size: .9em;
    margin-left: .3em;
}
.message-success {
    background-color: rgba(15, 153, 5, .7);
}
.message-info {
    background-color: rgba(251, 255, 0, .7);
}
.message-error {
    background-color: rgba(194, 4, 23, .7);
}
.image-container-thumb {
    margin: 0 0 1.5em .7em;
    max-width: 30vw;
    word-wrap: break-word;
}

.image-container-thumb img:hover {
    opacity: .8;
}
.image-container-thumb figure {
    margin: 0;
}
.image-container-thumb p {
    font-size: .7em;
    margin: .5em 0 0 0;
}
.image-description-thumb {
    margin: 0;
}
.non-field-errors .field-errors{
    color: red;
    font-size: .5em;
    display: block;
}
#upload-form div, #register-form div, #login-form div {
    margin-left: .5em;
    font-size: .6em;
    display: flex;
    align-items: center;
    flex: 1 1 0;
}
#upload-form input, #register-form input, #login-form input, textarea {
    margin-left: .5em;
    margin-right: .5em;
}
.image-container-full {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: flex-start;
    margin-left: .3em;
}
.image-container-full p span {
    text-decoration: underline;
}
.image-container-full img {
    margin-bottom: .5em;
}
.image-container-full p {
    font-size: .6em;
    margin: 0 0 .5em 0;
}
input[type=submit] {
    margin: 0;
}
.help-text {
    font-size: .5em;
}
textarea {
    resize: none;
}
.comments-container {
    border: 2px solid white;
    padding: .2em;
    width: 25vw;
    min-height: 10vh;
    max-height: 30vh;
    overflow: auto;
    font-size: .7em;
}
.comments-container p {
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}
h3 {
    margin: 0;
    padding: 0;
}
.comment-input-container {

}
#comment-input {

}

.pagination {
    padding: .13em;
    list-style: none;
    display: inline-block;
    font-size: .7em;
    max-width: 20vw;
    overflow-x: auto;
    margin: 0;
    white-space:nowrap;
}

.current-page-link {
    color: red;
}
.footer {
    font-size: 0.3em;
    text-align: center;
    font-weight: lighter;
    /*margin-bottom: .7em;*/
    position: absolute;
    bottom: .5em;
    right: 0;
    left: 0;
}